//- associates list page
doctype html
html
    head
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        script(src="https://kit.fontawesome.com/689ed3ef86.js" crossorigin="anonymous")
        title= title 
        style 
            include ../static/associateListStyle.css

        block style 

    body 
        nav#navbar
            div 
                
                h2 Associates dashboard  
            //- ul 
            //-     li #[a(href = "#") Clients]
            //-     li #[a(href = "#") Logout]


        section#partnerSection 
            div#greeting
                h1 Partners 
        
        hr


        section#client-section 
            div#client-section-container
                div.client-container
                    h4 #[a(href="#") Kapoor & sons Ltd]


                div.client-container
                    h4 #[a(href="#") Sunfarma co. ltd]


                div.client-container
                    h4 #[a(href="#") Lalbhai Contractors]


                div.client-container
                    h4 #[a(href="#") Maa sheetla jwellers]


                div.client-container
                    h4 #[a(href="#") Gupta Brothers co. ltd]


                div.client-container
                    h4 #[a(href="#") Kapoor & sons Ltd]


                div.client-container
                    h4 #[a(href="#") Kapoor & sons Ltd]







        section#partnerSection 
            div#greeting
                h1 Employee 
        
        hr


        section#client-section 
            div#client-section-container
                div.client-container
                    h4 #[a(href="/employee-employeeName") Kapoor & sons Ltd]


                div.client-container
                    h4 #[a(href="/employee-employeeName") Sunfarma co. ltd]


                div.client-container
                    h4 #[a(href="/employee-employeeName") Lalbhai Contractors]


                div.client-container
                    h4 #[a(href="/employee-employeeName") Maa sheetla jwellers]


                div.client-container
                    h4 #[a(href="/employee-employeeName") Gupta Brothers co. ltd]


                div.client-container
                    h4 #[a(href="/employee-employeeName") Kapoor & sons Ltd]


                div.client-container
                    h4 #[a(href="/employee-employeeName") Kapoor & sons Ltd]


                div.client-container
                    h4 #[a(href="/employee-employeeName") Sunfarma co. ltd]


                div.client-container
                    h4 #[a(href="/employee-employeeName") Lalbhai Contractors]


                div.client-container
                    h4 #[a(href="/employee-employeeName") Maa sheetla jwellers]


                div.client-container
                    h4 #[a(href="/employee-employeeName") Gupta Brothers co. ltd]


                div.client-container
                    h4 #[a(href="/employee-employeeName") Kapoor & sons Ltd]


                div.client-container
                    h4 #[a(href="/employee-employeeName") Kapoor & sons Ltd]





