//- client page
doctype html
html
    head
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        script(src="https://kit.fontawesome.com/689ed3ef86.js" crossorigin="anonymous")
        title= title 
        style 
            include ../static/clientListStyle.css

        block style 

    body 
        nav#navbar
            div 
                
                h2 Client dashboard  
            //- ul 
            //-     li #[a(href = "#") Clients]
            //-     li #[a(href = "#") Logout]


        section#client-section 
            div#client-section-container
                div.client-container
                    h3 #[a(href="/client-dashboard") Kapoor & sons Ltd]


                div.client-container
                    h3 #[a(href="/client-dashboard") Sunfarma co. ltd]


                div.client-container
                    h3 #[a(href="/client-dashboard") Lalbhai Contractors]


                div.client-container
                    h3 #[a(href="/client-dashboard") Maa sheetla jwellers]


                div.client-container
                    h3 #[a(href="/client-dashboard") Gupta Brothers co. ltd]


                div.client-container
                    h3 #[a(href="/client-dashboard") Kapoor & sons Ltd]


                div.client-container
                    h3 #[a(href="/client-dashboard") Kapoor & sons Ltd]


                