extends base.pug

block style 
    style
        //- include ../static/homeStyle.css

block content
    Section#introSection
        h1 This is our Home Page/Landing page.
        
    
    section#missionSection
        h1 Section - 1 
    
