*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#registerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
}


#formContainer{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 734px;

}



form{
    height: 100%;
    width: 80%;
}

form input{
    width: 100%;
    margin: 5px 0px;
    padding: 5px 10px;
    border-radius: 5px;
}

form textarea{
    margin: 5px 0px;
    padding: 5px 10px;
    border-radius: 5px;
}

select{
    width: 60%;
    margin: 5px 0px;
    padding: 5px 10px;
    border-radius: 5px;
}

form h1{
    margin: 20px 0px;
    font-size: 42px;
}

form h3{
    margin: 5px 0px;
}

form button{
    margin: 20px 5px;
    padding: 10px 20px;
    border-radius: 4px;
}

#registerBtn{
    background-color: rgb(22, 22, 22);
    color: white;
}

#registerBtn:hover{
    background-color: rgb(0, 0, 0);
}


form a{
    text-decoration: none;
    margin-left: 10px;
}

#registerLink{
    margin-top:7px;
}